# To run locally:
#   make docker-test

name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v2.5.0
        with:
          driver: docker

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./tools
          file: ./tools/Dockerfile
          tags: "cometbft/cometbft-db-testing:latest"
          load: true

      - name: test & coverage report creation
        run: |
          NON_INTERACTIVE=1 make docker-test

      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
