name: Lint
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  golangci:
    runs-on: ubuntu-latest
    container: ghcr.io/cosmos/cosmos-db/build-test:latest
    steps:
      - uses: actions/checkout@v3
      - uses: golangci/golangci-lint-action@v3.2.0

